body {
  margin: 0;
  height: 368000px;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* background laut */
#ocean {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer area */
#footerZone {
  position: absolute;
  top: 368000px;
  width: 100%;
  height: 1000px;
  background: #111;
}

/* depth UI */
#depthUI {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}

/* ikan */
.fish {
  position: absolute;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
 /* teks */
.text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 18px;
  background: rgba(255,255,255,0.15);
  color: white;
  font-size: 26px;
  font-weight: bold;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  text-shadow: 0 0 8px black;
}
.text2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 18px;
  color: white;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  text-shadow: 0 0 8px black;
}
.text3{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 18px;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
  text-shadow: 0 0 8px black;
  text-align: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(6px);
  display: none;
  z-index: 999;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  padding: 25px;
  border-radius: 18px;
  max-width: 320px;
  width: 80%;
  text-align: center;
  opacity: 0;
  transition: all 0.35s ease;
  z-index: 1000;
  
  /* efek tambahan */
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
  border: 1px solid rgba(255,255,255,0.3);
}

/* animasi muncul */
#popup.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* teks */
#popupText {
  font-size: 16px;
  color: #222;
  line-height: 1.5;
}

/* tombol */
#popup button {
  margin-top: 18px;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #0077ff, #00c6ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* hover tombol */
#popup button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* klik tombol */
#popup button:active {
  transform: scale(0.95);
}